body{
	background-color: #ff8080;
}


#titre a{
	color: #d82c2e !important;
}

.erreur{
	background-color:light-red;
	border : 1px solid red;
}

.menu ul li{
	display:inline-block;
	margin: 5px 10px 5px 10px;
}

.content{
	width : 50vmax;
	margin:auto;
}

.content form{
	width: 80%;
	border:1px solid black ;
}

form input{
	width:100%;
}

table{
	margin:auto;
	border-collapse:collapse;
}

.name{
	width:80%;
}

table td{
	border:1px solid;
	padding: 10px;
}

#actions{
	text-align: center;
	}
	
#headerAjoutModifSaison{
	text-align: center;
}

#titreAjoutModifSaison{
	text-align: center;
}
.container{
	text-decoration : none;
	color : "black";
	
}
#titreAffichSerie{
	text-align: center;
}
